<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">A user with the given username is already registered. Click <a href="/register">here</a> to redirect to register page</p>
    <hr>

  </div>
</div>

<%- include('partials/footer') %>
